* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navbar {
  padding: 1em;
  background-color: #1e3d58;
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 5px solid #948e8e;
}

#navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

#navbar a:hover {
  text-decoration: underline;
}

#main-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #b05f6d; /* Red */
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.blue {
  background-color: #275db3; /* Blue */
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.green {
  background-color: #4caf50; /* Green */
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.yellow {
  background-color: #ffeb3b; /* Yellow */
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.home {
  background-color: rgb(216, 208, 171);
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

#footer {
  background-color: #948e8e;
  color: white;
  padding: 1em;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  border: 5px solid #1e3d58;
}

#footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#footer a:hover {
  text-decoration: underline;
}
